header.nav-background {
    background-color: #23262C;
}

button.delete {
    background-color: #E74B1A;
    border-color: #E74B1A
}

nav.top {
    border-style: solid;
    padding: .2rem 1.5rem .3rem .5rem;
    border-width: 0px 0px 2px 0px;
}
